# Need this file just for development purposes only. The 
# actual env file is in the root of the project
# - webapp
# - .dockerignore
# - .env <- this one
# - ...
#
# Change the file acordingly if the actual env file changes

DATABASE_URL="postgresql://scsseco:1234@localhost:5432/school_db?schema=public"
AUTH_SECRET="authSecretPass123"